<!DOCTYPE html>
<html class="ng-scope" ng-app="phonecatApp" lang="en"><head>
	<meta charset="utf-8">
	<title>Vizlore</title>
	<script src="index_files/angular.js"></script>
	<script src="index_files/controllers.js"></script>
	<script src="index_files/angular-checklist-model.js"></script>
	<script src="index_files/js/metro.min.js"></script>

	<script src="index_files/angular-sanitize.js"></script>
	<script src="index_files/js/select.js"></script>

	<link href="index_files/css/metro.min.css" rel="stylesheet">
	<link href="index_files/css/metro-icons.min.css" rel="stylesheet">

	<link href="index_files/css/select.css" rel="stylesheet">
	<link href="index_files/css/select2.css" rel="stylesheet">
	<link href="index_files/css/selectize.default.css" rel="stylesheet">

</head>
<body ng-controller="PhoneListCtrl">

<div>
<h2>Define content/POI category</h2>
<div class="example" data-text="Categories">
<table class="table striped hovered cell-hovered border bordered">
	<tr>
		<th>Category Name</th>
		<th>Foursquare Categories</th>
	</tr>

	<tr ng-repeat="category in categories">
		<td>
			<div class="input-control text">
				<input type="text" name="name" ng-model="category.name"/>
			</div>
		</td>
		<td>
			<ui-select multiple ng-model="category.foursquare" theme="select2" style="width: 800px;">
				<ui-select-match placeholder="Select foursquare category...">{{$item.name}}</ui-select-match>
				<ui-select-choices repeat="item.id as item in foursquare | filter:$select.search">
				<div ng-bind-html="item.name | highlight: $select.search"></div>
				<small>
					Category id: {{item.id}}
				</small>
				</ui-select-choices>
			</ui-select>
		</td>
	</tr>
</table>
</div>
<button class="button success block-shadow-success text-shadow" ng-click="addCategories()">Add Category</button>
<button class="button danger block-shadow-danger text-shadow" ng-click="removeCategories()">Remove Category</button>
</div>

<div>
	<h2>Define context and activity profiles</h2>
	
	<div class="example" data-text="Profiles">
	
	<table class="table striped hovered border bordered">
	
		<tr>
			<th>Profile Name</th>
			<th>Time Intervals</th>
			<th>Activites</th>
			<th>Recommendation Vector</th>
		</tr>
	
		<tr ng-repeat="profile in profiles" class="row cells2">
		
		<td>
			<center>
			<div class="input-control text" style="display: block;">
				<input type="text" ng-model="profile.name">
			</div>
			</center>
		</td>
		
		<td>
			<table>
			
			<tr>
				<th colspan="2">Start time</th>
				<th colspan="2">End time</th>
			</tr>
			
			<tr>
				<th>Hours</th>
				<th>Minutes</th>
				<th>Hours</th>
				<th>Minutes</th>
			<tr>
			
			<tr ng-repeat="interval in profile.time">
				<td>
				<select ng-model="interval[2]" ng-options="h for h in hours"></select>
				</td>
				
				<td>
				<select ng-model="interval[3]" ng-options="m for m in minutes"></select>
				</td>
				<td>
				<select ng-model="interval[0]" ng-options="h for h in hours"></select>
				</td>
				<td>
				<select ng-model="interval[1]" ng-options="m for m in minutes"></select>
				</td>
			</tr>
			<tr>
			
			<td colspan="2">
				<button class="button success block-shadow-success text-shadow" ng-click="addInterval(profile)"> Add Inteval</button>
			</td>
			
			<td colspan="2">
				<button class="button danger block-shadow-danger text-shadow" ng-click="removeInterval(profile)">Remove Inteval</button>
			</td>
			
			</tr>
			</table>
			

		</td>
		
		<td>
			
			<table class="table">
			
			<tr ng-repeat="activity in activities">
				<td>
					<input checklist-model="profile.activity" checklist-value="activity" type="checkbox">
				</td>
				
				<td>
					<span class="check"></span>
					<span class="caption">{{activity}}</span>
				</td>
			</tr>
			</table>
		</td>
		
		<td>
		
			<table>
			
			<tr>
				<th ng-repeat="category in categories">{{category.name}}</th>
			</tr>
			
			<tr>
				<td ng-repeat="category in categories">
					<input type="number" style='width:60px' ng-model="profile.array[$index]">
				</td>
			</tr>
			
			</table>
		
		</td>
		
		</tr>
	</table>

	</div>
	
	<button class="button success block-shadow-success text-shadow" ng-click="addProfile()"> Add Activity Profile</button>
	<button class="button danger block-shadow-danger text-shadow" ng-click="removeProfile()">Remove Activity Profile</button>
	<button class="button primary block-shadow-success text-shadow" ng-click="post()">Send data </button>
</div>

</p>
</body>
</html>